*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
body header {
    top: 0;
    width: 100%;
    padding: 2vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-left: 5em;
    padding-right: 5em;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 25%;
    border-color:greenyellow;
}

body header .time img{ 
    display: flex;
    align-items: start;
    width: 50px;
    height: 40px;
}

body header .text p{
    font-size: 3.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body header #welcome{
    color: yellow;
}
body header #cube{
    color: seagreen;
}
body header .img img{
    width: 50px;
    height: 40px;
}
/*section*/
body section{
    background-color: blue;
}

body section .timer{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 6vw;
    margin-top: 10vw;
    font-size: 5vw;
}

body section .timer2{
    background-color: black;
}

body section .average{
    padding: 3vw;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body section .time-text{
    padding-bottom:1.5vw;
    padding-left: 1vw;
    border: solid;
    border-width: 1px;
    border-color: beige;
    width:200px;
}

body section .avg{
    padding: 1vw;
}
/* footer */
body footer{
    background-color: chartreuse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 25px;
}